<table class="table table-striped table-hover"   >

  <tr>
      <th scope="col">Name</th>
      <th scope="col"  >Phone Number</th>
      <th scope="col"  >Email</th>
      <th scope="col" >Address</th>
      <th scope="col" >Edit </th>
      <th scope="col" >Delete</th>
    </tr>
    <tr *ngFor="let student of studentsDetails" >

      <td>{{ student.firstname }} {{ student.lastname }}</td>
      <td>{{ student.phno  }}</td>
      <td>{{ student.email  }}</td>
      <td>{{ student.address  }}</td>
      <td><button type="button" class="btn btn-primary"><a [routerLink]="['/admindashboard/edit']">Edit</a></button></td>
      <td><button type="button" class="btn btn-primary">Delete</button></td>
      <td></td>
    </tr>
</table>
